*{
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

:root {
  width: 100%;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #1E1E1E;
  display: flex;
  justify-content: center;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

p, h1, h2, h3, h4, h5, h6, a, link {
  color: #D4D4D4;
}

a {
  text-decoration: none;
  color:  #D4D4D4
}

li {
  list-style: none;
}

.code-button {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #D4D4D4; 
  background-color: transparent; 
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}


.contenedor-grafica{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculadora{
  margin: 50px;
  display: grid;
  grid-template-areas:
  "input input input borrar"
  "prtss prtss reset reset"
  "pizd pder PI varX"
  "division multiplicar exp sqrt"
  "siete ocho nueve suma"
  "cuatro cinco seis suma"
  "uno dos tres resta"
  "punto cero igual resta"
  "SQRT1_2 SQRT2 E cbrt"
  "sin sinh asin asinh"
  "cos cosh acos acosh"
  "tan tanh atan atanh"
  "log log2 LOG10E LOG2E"
  "log10 log1p LN10 LN2"
  "eval eval eval eval"

  ;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: 40px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 40px;
}

.canva{
  width: 1000px;
  overflow: scroll;
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.05) rgba(0, 0, 0, 0);
}

.pow, .atan2, .abs, .trunc, .sign, .round, .random, .min, .max, .imul, .hypot, .fround, .floor, .clz32, .expm1, .ceil{
  display: none;
}

.input[disabled] {
  background-color: #f4f4f4;
  color: #333;
  font-size: 16px;
  border: 1px solid #ccc;
  text-align: center;
  font-family:"Source Code Pro", monospace;
  font-weight: bold;
}

.varX{
  font-style: italic;
}

.signos, .math, .numeros, .borrar, .reset, .igual, .eval, .parentesis{
  font-size: 20px;
  margin: 1px;
}

.input, .reset, .borrar, .parentesis{
  margin: 0px 1px 5px;
}

.eval{
  margin: 5px 0px 0px 0px;
}

.graficador{
  display: flex;
  width: 100%;
  justify-content:center;
}

@media screen and (max-width: 1300px) {
  .graficador{
      flex-direction: column;
      align-items: center;
  }

  .canva{
      width: 90vw;
  }
}

@media screen and (max-width: 768px) {
  /* Estilos específicos para pantallas más pequeñas (tablets y móviles) */
  .graficador{
      flex-direction: column;
      align-items: center;
  }

  .input[disabled] {
      font-size: 25px;    
  }
  .canva{
      width: 90vw;
  }
  
  .signos, .math, .numeros, .borrar, .reset, .igual, .eval, .parentesis{
      font-size: 20pxpx;

  }
}



@media screen and (max-width: 480px) {
  /* Estilos específicos para pantallas aún más pequeñas (móviles) */
  .input,
  .reset,
  .borrar,
  .parentesis,
  .signos,
  .math,
  .numeros,
  .igual,
  .eval {
      font-size: 18px;
  }
}


